.container-chips {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  
}

.reverse {
  flex-direction: row-reverse;
}
.s-size {
  width: 150px;
  height: 40px;
  font-size: 13px;
  
}
.m-size {
  width: 200px;
  height: 40px;
  font-size: 15px;
}
.l-size {
  width: 250px;
  height:40px;
  font-size: 20px;

}

