.typography {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
 /*  margin: 15px */;
 /*  font-family: "Times New Roman", Times, serif;
  font-style: italic; */
}
